@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500&display=swap');

body {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image: linear-gradient(to bottom,#0A1C26,#010440,#150F40,#262A73,#4877F0 150%);
    max-width: 100%;
    padding: 1em;
    color: white;
}

article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    max-height: 100%;
    background-color: #202024;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 4px 3px 20px #326bfa3d;
    padding: 20px;
    border-radius: 10px;
}

article label {
    color: white;
}

article div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

article input {
    border: 2px solid #121214;
    border-radius: 5px;
    outline: none;
    padding: 8px;
    margin: 5px;
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121214;
    color: rgba(255, 255, 255, 0.588);
}

input:focus {
    box-shadow:0px 0px 8px 1px #4878f07d ;
    border:2px solid #4877F0;
    transition: 0.7s;
}

.bolinha {
    margin-right: 50px;
    padding: 0px;
    width: 20px;
    height: 20px;
    color: #262A73;
    background-color: #4877F0;
}

#btn-clean {
    background-color:#ED1B24;
    color: white;
}

#btn-clean:hover{
    box-shadow:0px 0px 8px 1px #ff002ba7;
}

#right-half{ 
    right: 0px;
    margin-right: 30px;
    box-shadow: 0px 0px 1px black;
    padding: 20px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202024;
    box-shadow: 4px 3px 20px #326bfa3d;
    border-radius: 10px;
    padding:10px;
}

#troubleshooting h1{
    font-family:  'Source Code Pro', monospace;
    font-weight: normal;
    text-align: center;
    margin-top: 5px;
}

#template{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14px;
}

#templates{
    text-align: center;
    width: 150px;
    padding: 5px;
    border-radius: 30px;
    background-color: #0b0e56;
    border: 2px solid #4877F0;
    color: white;
}

#msg {
    outline: none;
    background-color: black;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.558);
    height: 300px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#msg:focus{
    box-shadow:0px 0px 8px 1px #4878f07d ;
    border: 2px solid #4877F0;
    transition: 0.5s;
}

#buttons-trouble input{
    padding: 8px;
    border-radius: 50px;
    height: 40px;
}

#button-enviar {
    background-color: #0b0e56;
    border: 2px solid #4877F0;
    color: white;
    width: 150px;
}

#button-enviar:hover{
    
    background-color: #262A73;
    box-shadow:0px 0px 8px 1px #4878f07d ;

}

#btnAdd {
    background-color: #0b0e56;
    border: 2px solid #4877F0;
    color: white;
    width: 80px;
}

#btnAdd:hover {
    background-color: #262A73;
    box-shadow:0px 0px 8px 1px #4878f07d ;
 
}

#btn-load {
    background-color: #0b0e56;
    border: 2px solid #4877F0;
    color: white;
    width: 80px;
}

#btn-load:hover{
    background-color: #262A73;
    box-shadow:0px 0px 8px 1px #4878f055 ;
}

#btnRemove{
    background-color: #7e1024;
    color: white;
    border: 2px solid  #ED1B24;
}

#btnRemove:hover{
    box-shadow:0px 0px 8px 1px #ff002b76;
    background-color: #ed1b2683;
}

#outputt{
    margin-top: 10px;
}

#outputt h1{
    font-family:  'Source Code Pro', monospace;
    font-weight: normal;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 2px;
}

#output{
    background-color: black;
    color: white;
    width: 427px;
    height: 200px;
    padding: 5px;
    border: 2px solid rgba(255, 255, 255, 0.558);
}

div#control{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#control h1 {
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
}


#controle{
    background-color: black;
    padding: 10px;
    color: white;
    width: 120%;
    height: 250px;
}

#logo{
    border-radius: 50%;
    box-shadow: -1px -1px 11px 6px #7195f291;
}

